# pycharm
.idea

# ipynb checkpoints
**/.ipynb_checkpoints

# pycache
**/__pycache__

# uncomment to exclude inp data folder as well in case of larger files
# /inp

# exclude venv
/cml-env